@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* Header - início */
header {
    background-color: #585050;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed; */
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0px auto 2px auto;
}

header nav {
    text-align: center;
    line-height: 1.6rem;
}

header ul, aside ol {
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5rem;
    background-color: inherit;
}

header a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(247, 244, 244);
}
/* Header - fim */

/* Banner - início */
#banner, #banner img {
    width: 100%;
    height: 400px;
}
/* Banner - início */

/* Main - início */
main {
    height: auto;
    background-color: #d1cfcf;

}

main aside, main div section {
    display: inline-block;
    vertical-align: top;
    margin: 5px 30px;
    /* height:auto; */
}

main aside {
    margin-top: 20px;
    padding: 10px 5px;
    width: 22%;
    text-align: justify;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.234);
}

main aside ol, main aside address, main aside .pAside {
    margin-bottom: 30px;
}

main aside h2 {
    margin-bottom: 10px;
}

main aside .etica {
    margin-bottom: 80px;
}

main aside .etica h2 {
    text-align: center;
}

main aside p, main aside li {
    margin: 5px;
    line-height: 26px;
}

main aside .phone, main aside .social{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}

main aside a {
    text-decoration: none;
    color: inherit;
}

main aside a:hover {
    color: #0000ff;
    font-weight: 600;
}

main div {
    width: 73%;
    text-align: center;
    display: inline-block;
}

main div section h1 {
    margin: 20px 0px;
    text-align: left;
    font-size: 2rem;
}

main div section img {
    border-radius: 50%;
}

main div section:hover :not(:hover) {
    opacity: 0.7;
    transition: 1s;
}

main section img:hover {
    transform: translate(5px, -15px);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.256);
    transition: 1s;
}

main .servicos article, main .produtos article {
    width: 27%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 25px;
    display: inline-block;
}

main section article:hover {
    font-weight: 700;
    color: #0000ff;
    cursor:context-menu;
    text-decoration: underline;
}
/* Main - fim*/

/* Sobre nós - início */
#quemSomos article{
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
    line-height: 32px;
}

#quemSomos h2 {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
/* Sobre nós - fim */

/* Tabelas de valores - início */
#tabelas {
    background-image: url("../img/banner-desfocado.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#tabelas h2 {
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-weight: bolder;
}

#tabelaServicos, #tabelaProdutos{
    display: inline-block;
    padding: 5px 40px;
    margin: 0 auto;
    width: 49%;
}

#tabelas table{
    font-size: 1.3rem;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 15px;
}

#tabelas th, #tabelas td{
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.256);
}

#tabelas tbody tr {
    color: #f5f4f7;
    font-weight: bolder;
    background-color: #58505071;
}

#tabelas thead tr {
    color: #f5f4f7;
    font-weight: bolder;
    background-color: #201f1f71;
}

#tabelaServicos tbody tr:hover{
    transform: translate(15px, 0px);
}

#tabelaProdutos tbody tr:hover{
    transform: translate(-15px, 0px);
}

#tabelaServicos tbody tr:hover, #tabelaProdutos tbody tr:hover{
    background-color: #ffffff;
    color: #27108bf8;
    text-decoration: underline;
    transition: .2s;
    border-radius: 15px;
    cursor: context-menu;
}
/* Tabelas de valores - fim */

/* Formulário - início */
#form{
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    /* background-color: #0000ff; */
}

#form h2 {
    margin-bottom: 20px;
}

#form .dados, #form #textarea {
    padding: 5px;
    width: 100%;
    height: 2.5rem;
    font-size: 1.3rem;
    text-align: left;
    margin: 5px 0px;
    /* background-color: #585050; */
    /* border: 1px solid black; */
    border-radius: 10px;
}

#form .dados:hover {
    background-color: #ffffff;
    color: #27108bf8;
    font-weight: bold;
    transform: translate(-25px, 0px);
    transition: .3s;
}

#form #textarea:hover {
    background-color: #ffffff;
    color: #27108bf8;
    font-weight: bold;
    transform: scale(1);
    transition: .3s;
}

#form input, #form select {
    display: inline-block;
    border-radius: 5px;
    background-color: #d1cfcf;
    width: 300px;
    vertical-align: middle;
    /* line-height: 1.3rem; */
    font-size: 1.3rem;
    text-align: center;
    border: none;
}

#form input:focus, #form select:focus, #form textarea:focus {
    background-color: #ffffff;
    color: #27108bf8;
    font-weight: bold;
}

#form label{
    display: inline-block;
    vertical-align: middle;
}

#form #textarea label, #form textarea {
    display: block;
    text-align: center;
    width: 100%;
}

#form #textarea {
    height: auto;
    transform: scale(.99);
}

#form textarea {
    background-color: #d1cfcf80;
    padding: 10px;
    margin-top: 5px;
    font-size: 1.3rem;
    text-align: justify;
    border-radius: 15px;
    border: none;
}

#form #btn {
    text-align: left;
}

#form #btn input {
    width: 15%;
    padding: 5px;
    font-size: 1.2rem;

}

#form #btn input:hover {
    color: #ffffff;
    background-color: #27108bf8;
    text-decoration: underline;
    font-weight: bolder;
    transition: .2s;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

#sobreNos h2, #tabelas h2, #form h2, #mapaSite h3 {
    text-decoration: underline;
}
/* Formulário - fim */

/* Mapa do Site - início */
section #mapaSite {
    background-color: #585050;
    padding-bottom: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 20px 0px 0px 0px;
    color: #fff;
}

section #mapaSite h3 {
    padding-bottom: 20px;
    font-size: 1.25rem;
}

section #mapaSite nav {
    width: 60%;
    margin: 0 auto;
    /* background-color: #0000ff; */
}
section #mapaSite nav ul {
    list-style-type: none;
    columns: 2;
    padding: 5px;
    /* margin: 0 auto; */
}

section #mapaSite nav ul li {
    margin: 0px auto 20px auto;
    text-align: center;
}

section #mapaSite nav a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-size: 1.165rem;
}

section #mapaSite nav a:hover {
    color: black;
    background-color: white;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(247, 244, 244);
}

/* Rodapé - início */
footer {
    background-color: black;
    color: rgb(214, 198, 198);
    text-align: center;

} 

footer #dev #autor {
    font-style: bold;
    font-size: 1.1rem;
    font-family: cursive;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(108, 108, 156, 0.363);
    color: #191952;
    
}

/* footer #dev #autor::before {
    content: "<mark>";    
}

footer #dev #autor::after {
    content: '</mark>';    
} */

footer #dev img {
    /* background-color: #0000ff; */
    /* vertical-align: middle; */
    height: 18px;
    margin-left: 15px;
    border-radius: 2px;
}

footer #dev{
    width: 100%;
    color: black;
    padding: 5px;
    font-size: 1rem;
    line-height: 12px;
    vertical-align: bottom;
    background-color: #d1cfcf;
}

footer #dev a {
    text-decoration: none;
    color: #6b6464b0;
    vertical-align: bottom;
    /* background-color: #0000ff; */
}

footer #dev p {
    padding: 10px;
}

footer #dev img:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.74);
    transform: translate(0px, -5px);
    transition: .2s;
}
/* Rodapé - fim */