@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* Header - início */
header {
    background-color: #585050;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0px auto 2px auto;
}

header nav {
    text-align: center;
    line-height: 1.6rem;
}

header ul, aside ol {
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-right: 20px;
    font-size: 2rem;
    background-color: inherit;
}

header a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(247, 244, 244);
}
/* Header - fim */

/* Banner - início */
#banner, #banner img {
    width: 100%;
    height: 400px;
}
/* Banner - início */

/* Main - início */
main {
    height: auto;
    background-color: #d1cfcf;

}

main aside, main div section {
    display: inline-block;
    vertical-align: top;
    margin: 5px 30px;
    /* height:auto; */
}

main aside {
    margin-top: 20px;
    padding: 10px 5px;
    width: 22%;
    text-align: justify;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.234);
}

main aside ol, main aside address, main aside .pAside {
    margin-bottom: 30px;
}

main aside h2 {
    margin-bottom: 10px;
}

main aside .etica {
    margin-bottom: 80px;
}

main aside .etica h2 {
    text-align: center;
}

main aside p, main aside li {
    margin: 5px;
    line-height: 26px;
}

main aside .phone, main aside .social{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}

main aside a {
    text-decoration: none;
    color: inherit;
}

main aside a:hover {
    color: #0000ff;
    font-weight: 600;
}

main div {
    width: 73%;
    text-align: center;
    display: inline-block;
}

main div section h1 {
    margin: 20px 0px;
    text-align: left;
    font-size: 2rem;
}

main div section img {
    border-radius: 50%;
}

main div section:hover :not(:hover) {
    opacity: 0.7;
    transition: 1s;
}

main section img:hover {
    transform: translate(5px, -15px);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.256);
    transition: 1s;
}

main .servicos article, main .produtos article {
    width: 27%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 25px;
    display: inline-block;
}

main section article:hover {
    font-weight: 700;
    color: #0000ff;
    cursor:context-menu;
    text-decoration: underline;
}
/* Main - fim*/

/* Sobre nós - início */
#quemSomos article{
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
    line-height: 32px;
}

#quemSomos h2 {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
/* Sobre nós - fim */

/* Tabelas de valores - início */
#tabelas {
    background-image: url(/assets/img/banner-desfocado.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tabelas h2 {
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-weight: bolder;
}

#tabelaServicos, #tabelaProdutos{
    display: inline-block;
    padding: 5px 40px;
    margin: 0 auto;
    width: 49%;
}

#tabelas table{
    font-size: 1.3rem;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    padding: 15px;
}

#tabelas th, #tabelas td{
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.256);
}

#tabelas tbody tr {
    color: #f5f4f7;
    font-weight: bolder;
    background-color: #58505071;
}

#tabelas thead tr {
    color: #f5f4f7;
    font-weight: bolder;
    background-color: #201f1f71;
}

#tabelaServicos tbody tr:hover{
    transform: translate(15px, 0px);
}

#tabelaProdutos tbody tr:hover{
    transform: translate(-15px, 0px);
}

#tabelaServicos tbody tr:hover, #tabelaProdutos tbody tr:hover{
    background-color: #ffffff;
    color: #27108bf8;
    text-decoration: underline;
    transition: .2s;
    border-radius: 15px;
    cursor: context-menu;
}
/* Tabelas de valores - fim */

/* Formulário - início */

/* Formulário - fim */

/* Rodapé - início */

/* Rodapé - fim */

footer {
    background-color: black;
    color: white;
    text-align: center;
} 