@charset "UTF-8";

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    /* background-color: aqua; */
}

header {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding-bottom: 20px;
}

header img {
    display: block;
    margin: 0px auto 2px auto;
}

header nav {
    text-align: center;
    line-height: 1.6rem;
}

header ul, aside ol {
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-right: 20px;
    font-size: 2rem;
    background-color: inherit;
}

header a {
    padding: 5px;
    color: white;
}

header a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(247, 244, 244);
}

#banner, #banner img {
    width: 100%;
    height: 400px;
}
/* Daqui para cima já está bom, por enquanto*/

main {
    height: auto;
}

main aside, main section {
    display: inline-block;
    vertical-align: top;
    margin: 5px 30px;
    height:auto;
}

main aside {
    margin-top: 20px;
    padding: 10px 5px;
    width: 22%;
    text-align: justify;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.234);
}

main aside ol, address, .pAside {
    margin-bottom: 30px;
}

main aside h3 {
    margin-bottom: 10px;
}

main aside p, main aside ol li {
    margin: 5px;
}

.phone, .social{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}

a {
    text-decoration: none;
}

main div {
    width: 73%;
    text-align: center;
    display: inline-block;
}

main section h1 {
    margin: 20px 0px;
    text-align: left;
    font-size: 2rem;
}

main section img {
    width: 100%;
    filter: blur(2px);
    border-radius: 50%;
}

main section img:hover {
    filter: none;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.256);
}

.servicos article, .produtos article {
    width: 27%;
    font-size: 1.2rem;
    margin: 20px 25px;
    display: inline-block;
}

figcaption {
    font-weight: 500;
}

figcaption:hover {
    font-weight: bolder;
    color: blue;
    cursor:context-menu;
    text-decoration: underline;
}

#aboutUs {
    background-color: aqua;
}




/* .produtos figure {
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid black;
} */

/* footer {
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
} */